<div class="p-4">
    <div class="flx mb-2">
        <h4>Worklog Analyzer</h4>
        <div class="flx">
            <a class="btn btn-success bi bi-file-earmark-arrow-down dwld-btn"
                title="Dowload sample file"
                target="_blank" href="/assets/worklog-template.xlsx">
            </a>
            <a class="btn btn-outline-dark bi bi-github" 
                data-toggle="tooltip" 
                data-placement="bottom" 
                title="Github link" 
                href="https://github.com/suhailzone/worklog-analyzer">
            </a>
        </div>
    </div>
    <div class="flx mb-2">
        <div class="btn-group mr-2" role="group" aria-label="Basic example">
            <button type="button" class="bi bi-list-task" (click)="changeView('list')" [ngClass]="isViewTypeList ? 'btn btn-primary' : 'btn btn-primary-outline'"></button>
            <button type="button" class="bi bi-graph-up" (click)="changeView('graph')" [ngClass]="!isViewTypeList ? 'btn btn-primary' : 'btn btn-primary-outline'"></button>
        </div>
        <form class="row row-cols-sm-auto" *ngIf="!isViewTypeList">
            <div class="col-12">
                <div class="dp-hidden position-absolute">
                    <div class="input-group">
                        <input
                        name="datepicker"
                        class="form-control"
                        ngbDatepicker
                        #datepicker="ngbDatepicker"
                        [autoClose]="'outside'"
                        (dateSelect)="onDateSelection($event)"
                        [displayMonths]="2"
                        [dayTemplate]="t"
                        outsideDays="hidden"
                        [startDate]="fromDate!"
                        tabindex="-1"
                        />
                        <ng-template #t let-date let-focused="focused">
                            <span
                                class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null"
                                >
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div>
                </div>
                <div class="input-group">
                    <input
                    #dpFromDate
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dpFromDate"
                    [value]="formatter.format(fromDate)"
                        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                        />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group">
                    <input
                    #dpToDate
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dpToDate"
                    [value]="formatter.format(toDate)"
                    (input)="toDate = validateInput(toDate, dpToDate.value)"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
                </div>
            </div>
        </form>
        <div>
            <input class="form-control" id="formFile" accept=".xlsx" type="file" id="file" 
            (change)="handleFileInput($event.target)" />    
        </div>
    </div>
    <!-- <ngb-toast
        [autohide]="true" 
        [delay]="10000"
        *ngIf="showToast"
        (hidden)="hideToast">
        {{errMsg}}
    </ngb-toast> -->
    <!-- <ngb-toast></ngb-toast> -->
    <ag-grid-angular
        *ngIf="isViewTypeList"
        class="ag-theme-quartz"
        style="height: 70vh;"
        [rowData]="rowData"
        [defaultColDef]="defaultColDef"
        [columnDefs]="colDefs">
    </ag-grid-angular>    
    <app-estimate-chart 
        *ngIf="!isViewTypeList" 
        [rowData]="rowData"
        [fromDate]="fromDate" 
        [toDate]="toDate">
    </app-estimate-chart>
</div>